<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		 					 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		 id="WebApp_ID" version="3.0">

  <display-name>TestProject Web Application</display-name>

  <!-- 1.spring帧听 -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContext.xml</param-value>
  </context-param>

  <!-- 2.springMVC Servlet -->
  <servlet>	
  	<servlet-name>springmvc</servlet-name>
	<!--DispatcherServlet是SpringMVC框架的总导演、总策划，它负责截获请求并将其分派给相应的处理器处理 -->
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<!-- springmvc配置文件 -->
  		<param-value>classpath:springmvc.xml</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>springmvc</servlet-name>
  	<!-- 进入SpringMVC框架url规则 -->
  	<url-pattern>*.htm</url-pattern>
  </servlet-mapping>
	
	<!--session失效时间 ——— 分钟-->
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
  
  <!-- 3.中文乱码 -->
  <filter>
  	<filter-name>SpringEncoding</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  		<init-param>
  			<param-name>encoding</param-name>
  			<param-value>utf-8</param-value>
  		</init-param>
  	</filter>
  	<filter-mapping>
  		<filter-name>SpringEncoding</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	
	<!--首页 ,这里结尾是htm，说明要跳转到springmvc处理，再跳转到页面-->
  	<welcome-file-list>
        <welcome-file>/WEB-INF/pages/index.jsp</welcome-file>
    </welcome-file-list>
	<!--错误页面 -->
  	<error-page>
    	<error-code>404</error-code>
    	<location>/WEB-INF/pages/error.jsp</location>
	</error-page>
  	<error-page>
    	<error-code>500</error-code>
    	<location>/WEB-INF/pages/error.jsp</location>
	</error-page>
</web-app>